<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apogee0_EnableGeneralClockSelectItemOptical</key>
	<true/>
	<key>Apogee0_EnableGeneralClockSelectItemWordClock</key>
	<true/>
	<key>Apogee0_EnableGeneralSampleRateSelect</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainControlOnChannel0</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainControlOnChannel1</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainControlOnChannel2</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainControlOnChannel3</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainSelectOnChannel0</key>
	<true/>
	<key>Apogee0_EnableInputsAnalogGainSelectOnChannel1</key>
	<true/>
	<key>Apogee0_EnableInputsAnalogGainSelectOnChannel2</key>
	<true/>
	<key>Apogee0_EnableInputsAnalogGainSelectOnChannel3</key>
	<true/>
	<key>Apogee0_EnableInputsAnalogGainValueOnChannel0</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainValueOnChannel1</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainValueOnChannel2</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGainValueOnChannel3</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGroupSelectOnChannel0</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGroupSelectOnChannel1</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGroupSelectOnChannel2</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogGroupSelectOnChannel3</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhantomPowerOnChannel0</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhantomPowerOnChannel1</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhantomPowerOnChannel2</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhantomPowerOnChannel3</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhaseInvertOnChannel0</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhaseInvertOnChannel1</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhaseInvertOnChannel2</key>
	<false/>
	<key>Apogee0_EnableInputsAnalogPhaseInvertOnChannel3</key>
	<false/>
	<key>Apogee0_EnableLoopSyncDisable</key>
	<false/>
	<key>Apogee0_EnableLoopSyncMasterSelect</key>
	<false/>
	<key>Apogee0_GeneralCDMode</key>
	<integer>0</integer>
	<key>Apogee0_GeneralClockSelect</key>
	<integer>3</integer>
	<key>Apogee0_GeneralDitherUV22HRSelect</key>
	<integer>0</integer>
	<key>Apogee0_GeneralHoldOverloads</key>
	<integer>0</integer>
	<key>Apogee0_GeneralMeterDisplaySelect</key>
	<integer>0</integer>
	<key>Apogee0_GeneralOpticalInFormatSelect</key>
	<integer>0</integer>
	<key>Apogee0_GeneralOpticalOutFormatSelect</key>
	<integer>0</integer>
	<key>Apogee0_GeneralSampleRateConversionSelect</key>
	<integer>0</integer>
	<key>Apogee0_GeneralSampleRateSelect</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainOnChannel0</key>
	<integer>10</integer>
	<key>Apogee0_InputsAnalogGainOnChannel1</key>
	<integer>10</integer>
	<key>Apogee0_InputsAnalogGainOnChannel2</key>
	<integer>10</integer>
	<key>Apogee0_InputsAnalogGainOnChannel3</key>
	<integer>10</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGroupSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGroupSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGroupSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogGroupSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogMicLineSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogMicLineSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogMicLineSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogMicLineSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhantomPowerOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhantomPowerOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhantomPowerOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhantomPowerOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhaseInvertOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhaseInvertOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhaseInvertOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogPhaseInvertOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel4</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel5</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel6</key>
	<integer>0</integer>
	<key>Apogee0_InputsAnalogSoftLimitOnChannel7</key>
	<integer>0</integer>
	<key>Apogee0_LoopSyncDisable</key>
	<integer>0</integer>
	<key>Apogee0_LoopSyncMasterSelect</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee0_OutputsAnalogLineGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee0_OutputsHeadphone0Level</key>
	<integer>-128</integer>
	<key>Apogee0_OutputsHeadphone0SourceSelect</key>
	<integer>0</integer>
	<key>Apogee0_OutputsHeadphone1Level</key>
	<integer>-128</integer>
	<key>Apogee0_OutputsHeadphone1SourceSelect</key>
	<integer>0</integer>
	<key>Apogee0_OutputsMainFormatSelect</key>
	<integer>0</integer>
	<key>Apogee0_OutputsMainLevel</key>
	<integer>-128</integer>
	<key>Apogee0_UnitIdentify</key>
	<integer>0</integer>
	<key>Apogee0_UnitSelect</key>
	<integer>0</integer>
	<key>Apogee1_EnableGeneralClockSelectItemOptical</key>
	<true/>
	<key>Apogee1_EnableGeneralClockSelectItemWordClock</key>
	<true/>
	<key>Apogee1_EnableGeneralSampleRateSelect</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainControlOnChannel0</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainControlOnChannel1</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainControlOnChannel2</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainControlOnChannel3</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainSelectOnChannel0</key>
	<true/>
	<key>Apogee1_EnableInputsAnalogGainSelectOnChannel1</key>
	<true/>
	<key>Apogee1_EnableInputsAnalogGainSelectOnChannel2</key>
	<true/>
	<key>Apogee1_EnableInputsAnalogGainSelectOnChannel3</key>
	<true/>
	<key>Apogee1_EnableInputsAnalogGainValueOnChannel0</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainValueOnChannel1</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainValueOnChannel2</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGainValueOnChannel3</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGroupSelectOnChannel0</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGroupSelectOnChannel1</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGroupSelectOnChannel2</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogGroupSelectOnChannel3</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhantomPowerOnChannel0</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhantomPowerOnChannel1</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhantomPowerOnChannel2</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhantomPowerOnChannel3</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhaseInvertOnChannel0</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhaseInvertOnChannel1</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhaseInvertOnChannel2</key>
	<false/>
	<key>Apogee1_EnableInputsAnalogPhaseInvertOnChannel3</key>
	<false/>
	<key>Apogee1_EnableLoopSyncDisable</key>
	<false/>
	<key>Apogee1_EnableLoopSyncMasterSelect</key>
	<false/>
	<key>Apogee1_GeneralCDMode</key>
	<integer>0</integer>
	<key>Apogee1_GeneralClockSelect</key>
	<integer>3</integer>
	<key>Apogee1_GeneralDitherUV22HRSelect</key>
	<integer>0</integer>
	<key>Apogee1_GeneralHoldOverloads</key>
	<integer>0</integer>
	<key>Apogee1_GeneralMeterDisplaySelect</key>
	<integer>0</integer>
	<key>Apogee1_GeneralOpticalInFormatSelect</key>
	<integer>0</integer>
	<key>Apogee1_GeneralOpticalOutFormatSelect</key>
	<integer>0</integer>
	<key>Apogee1_GeneralSampleRateConversionSelect</key>
	<integer>0</integer>
	<key>Apogee1_GeneralSampleRateSelect</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainOnChannel0</key>
	<integer>10</integer>
	<key>Apogee1_InputsAnalogGainOnChannel1</key>
	<integer>10</integer>
	<key>Apogee1_InputsAnalogGainOnChannel2</key>
	<integer>10</integer>
	<key>Apogee1_InputsAnalogGainOnChannel3</key>
	<integer>10</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGroupSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGroupSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGroupSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogGroupSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogMicLineSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogMicLineSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogMicLineSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogMicLineSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhantomPowerOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhantomPowerOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhantomPowerOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhantomPowerOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhaseInvertOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhaseInvertOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhaseInvertOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogPhaseInvertOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel4</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel5</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel6</key>
	<integer>0</integer>
	<key>Apogee1_InputsAnalogSoftLimitOnChannel7</key>
	<integer>0</integer>
	<key>Apogee1_LoopSyncDisable</key>
	<integer>0</integer>
	<key>Apogee1_LoopSyncMasterSelect</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee1_OutputsAnalogLineGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee1_OutputsHeadphone0Level</key>
	<integer>-128</integer>
	<key>Apogee1_OutputsHeadphone0SourceSelect</key>
	<integer>0</integer>
	<key>Apogee1_OutputsHeadphone1Level</key>
	<integer>-128</integer>
	<key>Apogee1_OutputsHeadphone1SourceSelect</key>
	<integer>0</integer>
	<key>Apogee1_OutputsMainFormatSelect</key>
	<integer>0</integer>
	<key>Apogee1_OutputsMainLevel</key>
	<integer>-128</integer>
	<key>Apogee1_UnitIdentify</key>
	<integer>0</integer>
	<key>Apogee1_UnitSelect</key>
	<integer>1</integer>
	<key>Apogee2_EnableGeneralClockSelectItemOptical</key>
	<true/>
	<key>Apogee2_EnableGeneralClockSelectItemWordClock</key>
	<true/>
	<key>Apogee2_EnableGeneralSampleRateSelect</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainControlOnChannel0</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainControlOnChannel1</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainControlOnChannel2</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainControlOnChannel3</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainSelectOnChannel0</key>
	<true/>
	<key>Apogee2_EnableInputsAnalogGainSelectOnChannel1</key>
	<true/>
	<key>Apogee2_EnableInputsAnalogGainSelectOnChannel2</key>
	<true/>
	<key>Apogee2_EnableInputsAnalogGainSelectOnChannel3</key>
	<true/>
	<key>Apogee2_EnableInputsAnalogGainValueOnChannel0</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainValueOnChannel1</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainValueOnChannel2</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGainValueOnChannel3</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGroupSelectOnChannel0</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGroupSelectOnChannel1</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGroupSelectOnChannel2</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogGroupSelectOnChannel3</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhantomPowerOnChannel0</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhantomPowerOnChannel1</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhantomPowerOnChannel2</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhantomPowerOnChannel3</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhaseInvertOnChannel0</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhaseInvertOnChannel1</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhaseInvertOnChannel2</key>
	<false/>
	<key>Apogee2_EnableInputsAnalogPhaseInvertOnChannel3</key>
	<false/>
	<key>Apogee2_EnableLoopSyncDisable</key>
	<false/>
	<key>Apogee2_EnableLoopSyncMasterSelect</key>
	<false/>
	<key>Apogee2_GeneralCDMode</key>
	<integer>0</integer>
	<key>Apogee2_GeneralClockSelect</key>
	<integer>3</integer>
	<key>Apogee2_GeneralDitherUV22HRSelect</key>
	<integer>0</integer>
	<key>Apogee2_GeneralHoldOverloads</key>
	<integer>0</integer>
	<key>Apogee2_GeneralMeterDisplaySelect</key>
	<integer>0</integer>
	<key>Apogee2_GeneralOpticalInFormatSelect</key>
	<integer>0</integer>
	<key>Apogee2_GeneralOpticalOutFormatSelect</key>
	<integer>0</integer>
	<key>Apogee2_GeneralSampleRateConversionSelect</key>
	<integer>0</integer>
	<key>Apogee2_GeneralSampleRateSelect</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainOnChannel0</key>
	<integer>10</integer>
	<key>Apogee2_InputsAnalogGainOnChannel1</key>
	<integer>10</integer>
	<key>Apogee2_InputsAnalogGainOnChannel2</key>
	<integer>10</integer>
	<key>Apogee2_InputsAnalogGainOnChannel3</key>
	<integer>10</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGroupSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGroupSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGroupSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogGroupSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogMicLineSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogMicLineSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogMicLineSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogMicLineSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhantomPowerOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhantomPowerOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhantomPowerOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhantomPowerOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhaseInvertOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhaseInvertOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhaseInvertOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogPhaseInvertOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel4</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel5</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel6</key>
	<integer>0</integer>
	<key>Apogee2_InputsAnalogSoftLimitOnChannel7</key>
	<integer>0</integer>
	<key>Apogee2_LoopSyncDisable</key>
	<integer>0</integer>
	<key>Apogee2_LoopSyncMasterSelect</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee2_OutputsAnalogLineGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee2_OutputsHeadphone0Level</key>
	<integer>-128</integer>
	<key>Apogee2_OutputsHeadphone0SourceSelect</key>
	<integer>0</integer>
	<key>Apogee2_OutputsHeadphone1Level</key>
	<integer>-128</integer>
	<key>Apogee2_OutputsHeadphone1SourceSelect</key>
	<integer>0</integer>
	<key>Apogee2_OutputsMainFormatSelect</key>
	<integer>0</integer>
	<key>Apogee2_OutputsMainLevel</key>
	<integer>-128</integer>
	<key>Apogee2_UnitIdentify</key>
	<integer>0</integer>
	<key>Apogee2_UnitSelect</key>
	<integer>2</integer>
	<key>Apogee3_EnableGeneralClockSelectItemOptical</key>
	<true/>
	<key>Apogee3_EnableGeneralClockSelectItemWordClock</key>
	<true/>
	<key>Apogee3_EnableGeneralSampleRateSelect</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainControlOnChannel0</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainControlOnChannel1</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainControlOnChannel2</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainControlOnChannel3</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainSelectOnChannel0</key>
	<true/>
	<key>Apogee3_EnableInputsAnalogGainSelectOnChannel1</key>
	<true/>
	<key>Apogee3_EnableInputsAnalogGainSelectOnChannel2</key>
	<true/>
	<key>Apogee3_EnableInputsAnalogGainSelectOnChannel3</key>
	<true/>
	<key>Apogee3_EnableInputsAnalogGainValueOnChannel0</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainValueOnChannel1</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainValueOnChannel2</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGainValueOnChannel3</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGroupSelectOnChannel0</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGroupSelectOnChannel1</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGroupSelectOnChannel2</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogGroupSelectOnChannel3</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhantomPowerOnChannel0</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhantomPowerOnChannel1</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhantomPowerOnChannel2</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhantomPowerOnChannel3</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhaseInvertOnChannel0</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhaseInvertOnChannel1</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhaseInvertOnChannel2</key>
	<false/>
	<key>Apogee3_EnableInputsAnalogPhaseInvertOnChannel3</key>
	<false/>
	<key>Apogee3_EnableLoopSyncDisable</key>
	<false/>
	<key>Apogee3_EnableLoopSyncMasterSelect</key>
	<false/>
	<key>Apogee3_GeneralCDMode</key>
	<integer>0</integer>
	<key>Apogee3_GeneralClockSelect</key>
	<integer>4</integer>
	<key>Apogee3_GeneralDitherUV22HRSelect</key>
	<integer>3</integer>
	<key>Apogee3_GeneralHoldOverloads</key>
	<integer>0</integer>
	<key>Apogee3_GeneralMeterDisplaySelect</key>
	<integer>0</integer>
	<key>Apogee3_GeneralOpticalInFormatSelect</key>
	<integer>0</integer>
	<key>Apogee3_GeneralOpticalOutFormatSelect</key>
	<integer>0</integer>
	<key>Apogee3_GeneralSampleRateConversionSelect</key>
	<integer>0</integer>
	<key>Apogee3_GeneralSampleRateSelect</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainOnChannel0</key>
	<integer>10</integer>
	<key>Apogee3_InputsAnalogGainOnChannel1</key>
	<integer>10</integer>
	<key>Apogee3_InputsAnalogGainOnChannel2</key>
	<integer>10</integer>
	<key>Apogee3_InputsAnalogGainOnChannel3</key>
	<integer>10</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGroupSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGroupSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGroupSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogGroupSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogMicLineSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogMicLineSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogMicLineSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogMicLineSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhantomPowerOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhantomPowerOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhantomPowerOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhantomPowerOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhaseInvertOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhaseInvertOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhaseInvertOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogPhaseInvertOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel4</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel5</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel6</key>
	<integer>0</integer>
	<key>Apogee3_InputsAnalogSoftLimitOnChannel7</key>
	<integer>0</integer>
	<key>Apogee3_LoopSyncDisable</key>
	<integer>0</integer>
	<key>Apogee3_LoopSyncMasterSelect</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel0</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel1</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel2</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel3</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel4</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel5</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel6</key>
	<integer>0</integer>
	<key>Apogee3_OutputsAnalogLineGainSelectOnChannel7</key>
	<integer>0</integer>
	<key>Apogee3_OutputsHeadphone0Level</key>
	<integer>-128</integer>
	<key>Apogee3_OutputsHeadphone0SourceSelect</key>
	<integer>0</integer>
	<key>Apogee3_OutputsHeadphone1Level</key>
	<integer>-128</integer>
	<key>Apogee3_OutputsHeadphone1SourceSelect</key>
	<integer>0</integer>
	<key>Apogee3_OutputsMainFormatSelect</key>
	<integer>0</integer>
	<key>Apogee3_OutputsMainLevel</key>
	<integer>-128</integer>
	<key>Apogee3_UnitIdentify</key>
	<integer>0</integer>
	<key>Apogee3_UnitSelect</key>
	<integer>3</integer>
	<key>StartApogee_UnitSelect</key>
	<integer>0</integer>
</dict>
</plist>
