<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>./Fonts</string>
	<key>Assetmanager class</key>
	<string>DfAssetManager</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>band</string>
				<string>gbProj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>GarageBandProject</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DfDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wand</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>GarageBandMagicTemplate</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.template.magic</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DfDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mwand</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>GarageBandMagicMentorTemplate</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.garageband.template.magicmentor</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>DfDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GarageBand</string>
	<key>CFBundleGetInfoString</key>
	<string>GarageBand 6.0.5 (428.5), Copyright © 2012 by Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>garageband.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.garageband.help</string>
	<key>CFBundleIconFile</key>
	<string>GarageBand App.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.garageband</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GarageBand</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.5</string>
	<key>CFBundleSignature</key>
	<string>band</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GarageBand Store Content</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gb-install</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>428.5</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSEnvironment</key>
	<dict>
		<key>DYLD_FRAMEWORK_PATH</key>
		<string>/System/Library/PrivateFrameworks/GraphicsAppSupport.framework/Frameworks</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.8</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DfApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GarageBand Project</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.project</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.os-type</key>
				<string>EMP1</string>
				<key>public.filename-extension</key>
				<array>
					<string>band</string>
					<string>gbProj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audiovisual-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Magic GarageBand Template</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.template.magic</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>wand</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MagicMentor GarageBand Template</string>
			<key>UTTypeIconFile</key>
			<string>GarageBand Document.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.garageband.template.magicmentor</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/ilife/garageband/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mwand</string>
			</dict>
		</dict>
	</array>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string>JPMDatabase7</string>
		<string>JPMKnownReceipts7</string>
		<string>JPMNumKnownReceipts7</string>
		<string>JPMVersion7</string>
		<string>JPMDatabase8</string>
		<string>JPMKnownReceipts8</string>
		<string>JPMNumKnownReceipts8</string>
		<string>JPMVersion8</string>
		<string>JPMDatabase9</string>
		<string>JPMKnownReceipts9</string>
		<string>JPMNumKnownReceipts9</string>
		<string>JPMVersion9</string>
		<string>DfPrefs_ActiveMentorDownloads</string>
	</array>
</dict>
</plist>
