<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MAUnitTest</string>
	<key>CFBundleGetInfoString</key>
	<string>MAUnitTest 9.1.0 (97.18), Copyright (c) 2010 by Apple Inc.  Copyright (c) 2006 Noel Llopis and Charles Nicholson.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.music.apps.MAUnitTest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MAUnitTest</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>9.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>97.18</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
