<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keywords</key>
	<array>
		<string></string>
		<string>Motions &amp; Transitions</string>
		<string>Mixed</string>
		<string>Rock/Blues</string>
		<string>Single</string>
		<string>Ensemble</string>
		<string></string>
		<string>Sci-Fi</string>
		<string>Transportation</string>
		<string>Urban</string>
		<string>Clean</string>
		<string>Distorted</string>
		<string>People</string>
		<string>Ambience</string>
		<string>Boom</string>
		<string>World/Ethnic</string>
		<string>Acoustic</string>
		<string>Electric</string>
		<string>Animals</string>
		<string>Texture/Atmosphere</string>
		<string>Mech/Tech</string>
		<string>Electronic/Dance</string>
		<string>Relaxed</string>
		<string>Intense</string>
		<string>Vocals</string>
		<string>Foley</string>
		<string>Work/Home</string>
		<string>Country/Folk</string>
		<string>Cheerful</string>
		<string>Dark</string>
		<string>Sports &amp; Leisure</string>
		<string>Percussion</string>
		<string>Piano</string>
		<string>Orchestral</string>
		<string>Dry</string>
		<string>Processed</string>
		<string>Bass</string>
		<string>Drums</string>
		<string>Electric Piano</string>
		<string>Cinematic/New Age</string>
		<string>Grooving</string>
		<string>Arrhythmic</string>
		<string>Guitars</string>
		<string>Drum Kit</string>
		<string>Organ</string>
		<string>Jazz</string>
		<string>Melodic</string>
		<string>Dissonant</string>
		<string>Strings</string>
		<string>Electronic Beats</string>
		<string>Synthesizer</string>
		<string>Experimental</string>
		<string>Part</string>
		<string>Fill</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
